body {
  background-color: white;
}

img {
  margin-top: 15px;
  padding: 1px;
  width: 90px;
  border: 1.5px;
}

.img_logo {
  width: 80px;
  margin-top: 5px;
}

.div_class {
  padding: 10px;
  border-radius: 10px;
  height: 200px;
  width: 220px;
  text-align: center;
  margin: 20px;
}

.class1 {
  background-color: #f3d250;
}

.class2 {
  background-color: #90ccf4;
}

.class3 {
  background-color: #ececec;
}

.class4 {
  background-color: #a16e83;
}

.class5 {
  background-color: #cebc81;
}

.pics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.PICS {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button {

  margin-top: 10px;
  font-size: large;
  font-weight: 10%;
  color: white;
  border-width: 1.4px;
  padding: 7px;
  background-color: #05386B;
  border-radius: 5px;
}

.button:hover {
  background-color: white;
  color: #05386B;
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}

.bg2 {
  height: 90px;
  background-repeat: no-repeat;
  background-image: url(file:///C:/Users/bindu/Downloads/background3.png);
  background-repeat: no-repeat;
  background-size: cover;

  /* background: rgb(17,12,112);
background: linear-gradient(90deg, rgba(17,12,112,1) 34%, rgba(0,212,255,1) 100%); */
}

nav ul {
  list-style: none;
  display: flex;
}

.navbar {
  /* top:40px; */
  width: 90%;
  /* height: 20%; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav li {
  top: 0;
  margin: 0 10px;
}

nav a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: red;
}

footer {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}